/* GENERAL */
*{
  margin: auto;
}

img{
  object-fit: cover;
}

body{
  background: rgb(79,168,59);
  background: linear-gradient(135deg, rgba(79,168,59,0.9332107843137255) 0%, rgba(108,33,154,0.8995973389355743) 100%);
  height: 915px;
}

main{
  height: 813px;
}
