/* HEADER */
nav li{
    border: 2px solid #ff8e3c;
    background: transparent;
    border-radius: 3px;
    color: #0d0d0d;
    padding: 0 12px;
}

nav li:hover{
    background: #ff8e3c;
}

.btn-form{
    border: 2px solid #ff8e3c;
    border-radius: 3px;
    padding: 5px 12px;
    background: #ff8e3c;
    color: #fffffe;
}